<div class="index-body">
    <div class="index-left">
        <div class="logo">
            <img src="images/logo.png" title="WinGuard">
        </div>

        <div class="index-menu" id="index-menu">


            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ui-sref="index.location" ui-sref-active="sel"
                     ui-sref-opts="{reload: 'index.location'}">
                    <i class="fa fa-home faa-horizontal fa-lg"></i>&nbsp;&nbsp;&nbsp;主 &nbsp;&nbsp; &nbsp;&nbsp; 页
                    <span ng-bind-html="html"></span>
                </div>
            </div>
            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ng-click="itemClick($event)">
                    <i class="fa fa-television faa-wrench fa-lg"></i>&nbsp;&nbsp;虚拟特征
                    <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                    <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.virtual-wifi" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-wifi'}">WIFI探针探测记录查询
                    </div>
                    <div class="menu-second-item" ui-sref="index.virtual-gsm" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-gsm'}">电子围栏探测记录查询
                    </div>


                    <div class="menu-second-item" ui-sref="index.virtual-Bayonet" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-Bayonet'}">卡口记录查询
                    </div>
                    <!--<div class="menu-second-item" ui-sref="index.virtual-weixin" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-weixin'}">手机关联信息查询
                    </div>-->

                    <div class="menu-second-item" ui-sref="index.virtual-tel" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-tel'}">手机关联信息查询
                    </div>


                    <!--<div class="menu-second-item" ui-sref="index.alarm-1" ui-sref-active="sel" ui-sref-opts="{reload: 'index.alarm-all'}">QQ音乐</div>-->
                    <div class="menu-second-item" ui-sref="index.virtual-app" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.virtual-app'}">APP探测记录查询
                    </div>


                    <!--  <div class="menu-second-item" ui-sref="index.virtual-imsi" ui-sref-active="sel"
                           ui-sref-opts="{reload: 'index.virtual-imsi'}">IMSI
                      </div>
                      <div class="menu-second-item" ui-sref="index.virtual-imei" ui-sref-active="sel"
                           ui-sref-opts="{reload: 'index.virtual-imei'}">IMEI
                      </div>
                      <div class="menu-second-item" ui-sref="index.virtual-taxi" ui-sref-active="sel"
                           ui-sref-opts="{reload: 'index.virtual-taxi'}">滴滴打车
                      </div>
                      &lt;!&ndash;<div class="menu-second-item" ui-sref="index.alarm-2" ui-sref-active="sel" ui-sref-opts="{reload: 'index.alarm-history'}">百度视频</div>&ndash;&gt;
                      <div class="menu-second-item" ui-sref="index.virtual-tel" ui-sref-active="sel"
                           ui-sref-opts="{reload: 'index.virtual-tel'}">手机号
                      </div>-->


                </div>
            </div>

            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ui-sref="index.search" ui-sref-active="sel"
                     ui-sref-opts="{reload: 'index.search'}">
                    <i class="fa fa-search faa-tada  fa-lg"></i>&nbsp;&nbsp;&nbsp;综合搜索
                    <!-- <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                     <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>-->
                </div>
                <!-- <div class="menu-second">

                     <div class="menu-second-item" ui-sref="index.search-person" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-person'}">人员信息搜索
                     </div>
                     <div class="menu-second-item" ui-sref="index.search-car" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-car'}">卡口车辆搜索
                     </div>
                     <div class="menu-second-item" ui-sref="index.search-video" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-video'}">视频搜索
                     </div>
                     <div class="menu-second-item" ui-sref="index.search-face" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-face'}">人脸识别
                     </div>
                     <div class="menu-second-item" ui-sref="index.search-cloud" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-cloud'}">云搜索(内网搜索)
                     </div>
                     <div class="menu-second-item" ui-sref="index.search-Impersonnel" ui-sref-active="sel"
                          ui-sref-opts="{reload: 'index.search-Impersonnel'}">重点人员(内网搜索)
                     </div>

                 </div>-->
            </div>

            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ng-click="itemClick($event)">
                    <i class="fa fa-bell  faa-ring  fa-lg"></i>&nbsp;&nbsp;&nbsp;预警消息
                    <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                    <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>
                </div>
                <div class="menu-second">


                    <div class="menu-second-item" ui-sref="index.message-temporary" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.message-temporary'}">
                        <span class="badge msg-position">{{indexData.eventCount.temporary}}</span>
                        临时盯防人员预警消息
                    </div>
                    <div class="menu-second-item" ui-sref="index.message-important" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.message-important'}">
                        <span class="badge msg-position">{{indexData.eventCount.important}}</span>
                        重点盯防人员预警信息
                    </div>

                    <div class="menu-second-item" ui-sref="index.message-area" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.message-area'}">
                        <span class="badge msg-position">{{indexData.eventCount.area}}</span>
                        区域人员预警消息
                    </div>
                    <div class="menu-second-item" ui-sref="index.message-person" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.message-person'}">
                        <span class="badge msg-position">{{indexData.eventCount.person}}</span>
                        人流预警消息
                    </div>

                </div>
            </div>
            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ng-click="itemClick($event)">
                    <i class="fa fa-line-chart faa-passing  fa-lg"></i>&nbsp;&nbsp;智能分析
                    <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                    <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.analyze-history" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-history'}">历史轨迹分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-rest" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-rest'}">日常活动规律分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-accompany" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-accompany'}">人车伴随分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-contrast" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-contrast'}">人车轨迹对比分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-suspect" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-suspect'}">嫌犯人分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-partner" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-partner'}">同伙分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-flow" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-flow'}">人流分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-bayonet" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-bayonet'}">卡口分析
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-video" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-video'}">视频查看
                    </div>

                    <div class="menu-second-item" ui-sref="index.analyze-face" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-face'}">人脸识别
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-cloud" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-cloud'}">云搜索(内网)
                    </div>
                    <div class="menu-second-item" ui-sref="index.analyze-important" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.analyze-important'}">重点人员搜索(内网)
                    </div>
                </div>
            </div>


            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ng-click="itemClick($event)">
                    <i class="fa fa-bar-chart  faa-passing-reverse fa-lg"></i>&nbsp;&nbsp;数据统计
                    <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                    <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.statistic-equipment" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.statistic-equipment'}">设备采集统计
                    </div>
                    <div class="menu-second-item" ui-sref="index.statistic-gsm" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.statistic-gsm'}">手机采集统计
                    </div>
                    <div class="menu-second-item" ui-sref="index.statistic-wifi" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.statistic-wifi'}">WIFI采集统计
                    </div>
                    <div class="menu-second-item" ui-sref="index.statistic-bayonet" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.statistic-bayonet'}">卡口采集统计
                    </div>

                    <div class="menu-second-item" ui-sref="index.statistic-comprehensive" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.statistic-comprehensive'}">综合统计
                    </div>

                </div>
            </div>
            <div class="menu-item slide-down">
                <div class="menu-item-title faa-parent animated-hover" ng-click="itemClick($event)">
                    <i class="fa fa-gear faa-spin  fa-lg"></i>&nbsp;&nbsp;&nbsp;配置管理
                    <div class="icon-right angle-down"><i class="fa fa-plus-square-o"></i></div>
                    <div class="icon-right angle-up"><i class="fa fa-minus-square-o"></i></div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.config-temporary" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.config-temporary'}">临时人员盯防配置
                    </div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.config-area" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.config-area'}">区域盯防配置
                    </div>
                </div>
                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.config-important" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.config-important'}">重点人员盯防配置
                    </div>
                </div>

                <div class="menu-second">
                    <div class="menu-second-item" ui-sref="index.config-person" ui-sref-active="sel"
                         ui-sref-opts="{reload: 'index.config-person'}">人流预警配置
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="index-top">

        <div class="top-user dropdown">
            <div class="top_user_img"><i class="fa fa-user"></i></div>
            <div class="dropdown-toggle top-user-text" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="true" title="">admin
            </div>
            <div class="top-user-pint caret"></div>
            <ul class="dropdown-menu top-user-menu" aria-labelledby="dLabel">
                <li><a ng-click="signOutClick()">退出</a></li>
            </ul>
        </div>

        <div class="top-alarm alarm-info info-undo">
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-bell  faa-ring animated  fa-lg"></i>
            &nbsp;&nbsp;
            <span>您有<d style="color: red;font-size: 15px">{{indexData.eventCount.all}}</d>条预警信息未处理</span>
        </div>

    </div>
    <div class="index-content" ui-view="contentView">

    </div>
</div>
<script>
    $('#index-menu').slimScroll({
        height: '100%',
        railOpacity: 1,
        distance: '-10px' //组件与侧边之间的距离
    }).find('.menu-second').slideUp();

</script>