<header class="am-topbar am-topbar-fixed-top">
	<div class="am-g am-g-fixed">
		<h1 class="am-topbar-brand">
    				<a href="/">Home</a>
 				 </h1>
		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
		</button>
		<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				{% for tag in site.data.tags %}
				<li><a href="/tag/{{ tag.slug }}">{{ tag.name }}</a></li>
				{% endfor %}
			</ul>
			<div class="am-topbar-right">
				<form class="am-form-inline am-topbar-form" role="form">
					<div class="am-input-group am-input-group-default am-input-group-sm">
						<input type="text" class="am-form-field">
						<span class="am-input-group-btn">
								<button class="am-btn am-btn-default" type="button">
									<span class="am-icon-search"></span>
						</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

</header>