<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/app.css"/>
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
	</head>
	<body>
		<header class="am-topbar">
			<div class="am-g am-g-fixed">
				<h1 class="am-topbar-brand">
    				<a href="/">Home</a>
 				 </h1>
				<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
				</button>
				<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
					<ul class="am-nav am-nav-pills am-topbar-nav">
						{% for post_category in site.data.categorys %}
							<li><a href="/category/{{ post_category.slug }}">{{ post_category.name }}</a></li>
						{% endfor %}
					</ul>
					<div class="am-topbar-right">
						<form class="am-form-inline am-topbar-form" role="form">
						<div class="am-input-group am-input-group-default am-input-group-sm">
							<input type="text" class="am-form-field">
							<span class="am-input-group-btn">
								<button class="am-btn am-btn-default" type="button">
									<span class="am-icon-search"></span>
								</button>
							</span> 
						</div>
						</form>
					</div>
				</div>
			</div>

		</header>
		<div id="wrap">
			<section id="main" class="clearfix am-g am-g-fixed">
				{{ content }}
			</section>
		</div>
		<footer class="footer">
			<center class="am-g am-g-fixed">
					<p class="amz-cp">© 2015 AllMobilize, Inc. Licensed under 
						<a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.
					</p>
			</center>
		</footer>
		<script>
			var prevTop = 0,
			    currTop = 0;
			$(window).scroll(function() {
			    currTop = $(window).scrollTop();
			    if (currTop <= prevTop) { //判断小于则为向上滚动
			       $('.am-topbar').removeClass('hide');
			    } else {
			      $('.am-topbar').addClass('hide');
			    }
			    prevTop = currTop; //IE下有BUG，所以用以下方式
//			    setTimeout(function(){prevTop = currTop},0);
			});
		</script>
	</body>
</html>