---
layout: common
---
<div class="am-container" style="margin-bottom: 130px;">
	<article class="post am-u-lg-9">
		<h2 class="post-title">{{ page.title }}</h2>
		{{ content }}
	</article>
	<div class="am-u-lg-3 am-show-lg-only">
		<nav data-am-sticky="" data-am-scrollspy-nav="{offsetTop: 45}" class="scrollspy-nav am-sticky">
			<ul class="post-catalog">
			</ul>
		</nav>
	</div>
</div>

<!-- 多说评论框 start -->
<div class="am-container">
	<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{ page.title }}" data-url="bradhan.github.io{{ page.url }}"></div>
</div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"yorman"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
<script>
	$(document).ready(function(){
		$('h2:not(.post-title)').each(function(){
			$('.post-catalog').append('<li><a href="#'+$(this).attr('id')+'">+ '+$(this).html()+'</a></li>');
		});
	});
</script>