---
layout: common
---
<article class="post am-u-lg-10">
	<h2 class="post-title">{{ page.title }}</h2>
	{{ content }}
</article>
<div class="am-u-lg-3 am-show-lg-only">
	<nav data-am-sticky="" data-am-scrollspy-nav="{offsetTop: 45}" class="scrollspy-nav am-sticky">
		<ul class="post-catalog">
		</ul>
	</nav>
</div>
<script>
	$(document).ready(function(){
		$('h4').each(function(){
			$('.post-catalog').append('<li><a href="#'+$(this).attr('id')+'">+ '+$(this).html()+'</a></li>');
		});
	});
</script>